* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

body {
  background-color: #000;
}

p {
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: block;
  width: 400px;
  height: 400px;
  background-color: hsl(216, 12%, 8%);
  padding: 25px;
  border-radius: 10px;
}

.star-container {
  display: inline-block;
  text-align: center;
  height: 45px;
  padding: 14px;
  background:  hsl(213, 19%, 18%);
  border-radius: 50px;
  margin-bottom: 20px;
}

.main h1 {
  color: #fff;
  margin-bottom: 10px;
}

.main p {
  color: hsl(217, 12%, 63%);
  line-height: 1.5;
  margin-bottom: 20px;
}


.submit {
  cursor: pointer;
  border: none;
  padding: 14px;
  border-radius: 50px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: hsl(25, 97%, 53%);
}

.numbers {
  margin-bottom: 25px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
}

.numbers div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background:  hsl(213, 19%, 18%);
  border-radius: 100px;
  color: #fff;
  transition: all .5s;
}

.numbers div:hover {
  background-color:hsl(25, 97%, 53%);
  transition: all .5s;
}

.main-thank-you {
  display: block;
  width: 400px;
  height: 400px;
  background-color: hsl(216, 12%, 8%);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-thank-you h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}

.summary {
  color:  hsl(217, 12%, 63%);
  text-align: center;
  line-height: 1.75;

}

.thank-you-img-container {
  margin-bottom: 25px;
}

.rating {
  background-color: hsl(213, 19%, 18%);
  padding: 8px 20px;
  border-radius: 50px;
  margin-bottom: 35px;
 
}

.rating {
 color: hsl(25, 97%, 53%);
}

.hidden {
  display: none;
}

.show {
  display: block;
}